<h1>New Profile Page for <%= @job.name %></h1>

<%= form_for [@job, @profile] do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :current_company %>
  <%= f.text_field :current_company %>

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :profile_url %>
  <%= f.text_field :profile_url %>

  <%= f.submit %>

<% end %>