<%= simple_form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category" }, input_html: { class: "dropdown-toggle" } %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :company %>
    <%= f.text_field :company %>

    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit %>
  </div>
<% end %>
